// ALL CHARTS

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path, .y.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1px;
}

#pop-chart, #snotel-chart {
    font-size: 12px;
}

// SNOTEL CHART - PART ONE

#snotel-chart {
    height: 400px;

    @include breakpoint(mama-bear) {
        height: 300px;
    }
    @include breakpoint(baby-bear) {
        height: 200px;
    }
}

#snotel-legend {
    margin-bottom: 16px;
    font-size: .7em;
    .snotel_site {
        height: 20px;
        padding: 0 6px;
        display: inline;
        @include breakpoint(baby-bear) {
            padding: 0 2px;
        }
    }
    .legend-icon {
        height: 10px;
        width: 10px;
        display: inline-block;
        margin-right: 4px;
        @include breakpoint(baby-bear) {
            height: 8px;
            width: 8px;
            margin-right: 1px;
        }
    }
    p {
        display: inline-block;
        margin-bottom: 0;
    }
}

// POPULATION CHART - PART THREE

#pop-interactive {
    h2 {
        margin-bottom: 5px;
    }
    h3 {
        margin-top: 0;
    }
    .interactive-desc {
        margin-top: 40px;
        font-size: 1em;
    }
}

#pop-chart {
    height: 700px;
    @include breakpoint(papa-bear) {
        height: 600px;
    }
    @include breakpoint(baby-bear) {
        height: 300px;
    }

    .line {
        stroke: lightgray;
        stroke-width: 1px;
        &.hover {
            stroke: $blue !important;
            stroke-width: 4px;
        }
    }
}

#pop-map {
    height: 320px;

    .county-shape {
        fill: white;
        stroke: black;

        &.hover {
            fill: $blue;
        }
        &.no-data {
            fill: #e9e9e9;
            stroke: white;
        }
    }
}


// SCOTTS BLUFF ECON - PART THREE

#ag-stats {
    padding: 10px 0;
}

.econ-table {
    padding-left: 35px;
    padding-right: 35px;
    @include breakpoint(baby-bear) {
        margin-bottom:15px;
    }
}

.table-title {
    text-align: center;
    font-size: 1em;
}

table {
    width: 100%;
    font-size: .7em;

    &:first-child {
        margin: 10px 0 20px 0;

        @include breakpoint(mama-bear) {
            margin: 10px 0 60px 0;
        }
    }
    tr:first-child {
        font-size: 1.1em;
        color: $blue;
        font-weight: bold;
    }

    tr {
        margin: 8px;
        border-bottom: 1px solid lightgray;
        td:first-child {
            width: 200px;
            padding: 4px 22px 4px 0;
        }
        td.amount {
            padding: 4px 0 4px 14px;
            text-align: center;
        }
        td.rank {
            padding: 4px 0 4px 14px;
            text-align: center;
            line-height: 1em;
        }
    }
}