
#pop-chart, #snotel-chart {
    font-size: 12px;
}

#pop-chart svg {
    @include breakpoint(mama-bear) {
        height: 500px;
    }
    @include breakpoint(baby-bear) {
        height: 300px;
    }
}

.population-list {
    height: 300px;
    @include breakpoint(papa-bear) {
        height: 700px;
    }
    @include breakpoint(mama-bear) {
        height: 400px;
    }

    overflow:auto;
    font-size: .8em;

    ul {
        list-style-type: none;
        padding-left: 0px;
    }

    li {
        margin: 0px;
        height: 20px;
        display: list-item;
        p {
          display: inline-block;
          font-size:.8em;
          margin-bottom: 0px;
          padding: 5px;
          margin: 5px;
          &.scotts-bluff-co {
            color:$red;
          }
        }
        p:hover {
            background-color: $blue;
            color: white;
        }
    }
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path, .y.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1px;
}

.scotts-bluff-co {
  stroke-width: 3px;
  stroke: "red";
}

#average {
    stroke: lightgray;
}

#actual {
    stroke: $red;
}

// SNOTEL CHART

#snotel-chart {
    height: 400px;

    @include breakpoint(mama-bear) {
        height: 300px;
    }

    .line {
      fill: none;
      stroke-width: 1px;
    }


}

#snotel-legend {
    margin-bottom: 16px;
    font-size: .7em;
    .snotel_site {
        height: 20px;
        padding: 0 6px;
        display: inline;
    }
    .legend-icon {
        height: 10px;
        width: 10px;
        display: inline-block;
        margin-right: 4px;
    }
    p {
        display: inline-block;
        margin-bottom: 0;
    }
}






// SCOTTS BLUFF ECON

.table-title {
    text-align: center;
    font-size: 1em;
}

table {
    width: 100%;
    font-size: .7em;

    &:first-child {
        margin: 10px 0 20px 0;

        @include breakpoint(mama-bear) {
            margin: 10px 0 60px 0;
        }
    }
    tr:first-child {
        font-size: 1.1em;
        color: $blue;
        font-weight: bold;
    }

    tr {
        margin: 8px;
        border-bottom: 1px solid lightgray;
        td:first-child {
            padding: 4px 28px 4px 0;
        }
        td.amount {
            padding: 4px 0 4px 14px;
            text-align: center;
        }
        td.rank {
            padding: 4px 0 4px 14px;
            text-align: center;
        }
    }
}