.snowflake {
	color: steelblue;
}
.water-drop {
	color:#ff5d58;
}
#equals {
	height: 30px;
	border-bottom: 2px solid gray;
	border-top: 2px solid gray;
	margin-top: 150px;
}

#snowflakes, #waterdrops {
    height: 400px;
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    align-content: flex-start;
}

.zoom-in-icon {
    height: 15px;
    width: 15px;
}

#interactive-swe span {
    padding: 4px;
}
#interactive-swe .snowflake {
    padding: 2px;
}
#interactive-swe img {
    width: auto;
}