#main-title {
    $main-width: 600px;
    @include breakpoint(baby-bear) { width: 300px; margin-left: -150px; top: 15%;}
    width: $main-width;
    left: 50%;
    margin-left: -($main-width/2);
    background-color: rgba(0,0,0,.3);
    border-radius: 10px;
}

#btn-intro {
    margin: 30px;
}

#intro .btn-default, #intro .btn-default:focus {
    background-color:transparent;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border: 2px solid white;
}

.btn-default:hover, .btn-default:active {
    color: $blue;
    border-color: white;
    background-color: transparent;
}

.intro-btn-group {
    position:absolute;
    top: 30px;
    left: 30px;
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    display: none;
    background-color:black;
}

.fluid-video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.fluid-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#intro-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: black;
    color: white;
    overflow: hidden;
}

.intro-nav-wrapper {
    padding: 10px 20px;
}

.intro-nav-button {
    cursor: pointer;
    text-transform: uppercase;
    i {
        padding-right: 10px;
    }
}

.intro-nav-container {
    ul {
        padding-left: 0px;
    }
    li {
        list-style-type: none;
        padding-right: 25px;
    }

    img {
        border-radius: 8px;
        width: auto;
    }

    img:hover {
        opacity: .7;
    }
}

#intro-menu {
    display: block;
    @include breakpoint(baby-bear) { display: none; }
    
    li {
        display: inline-block;
    }
}
#intro-menu-mobile {
    display: none;
    @include breakpoint(baby-bear) { display: block; }

    li {
        display: block;
    }

    h5 {
        font-size: 1em;
    }
}