#np-dams-map {
    h2 {
        text-align: left;
        margin-bottom: 10px;
    }
}

#dam-map {
    height: 500px;
}

#dam-info-panel {
    text-align: right;
    .default-text {
        margin-top: 80%;
        font-size: .9em;
    }
    p.dam-title {
        font-size: 1.1em;
        font-weight: bold;
        border-bottom: 1px solid black;
        margin-bottom: 8px;
        width: 60%;
        margin-left: 40%;
    }
    p {
        font-size: .7em;
        margin-bottom: 2px;
    }
}

.dam-image {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

.dam-link {
    color: black;
    font-size: .8em;
    cursor: pointer;
}

.dam-link:hover {
    color: $blue;
}

.leaflet-popup-content {
    margin: 5px 8px;
}