#dam-map {
    height: 600px;
}

.popover-title {
    font-size: 16px;
    padding: 4px 8px;
    text-align: center;
}

.popover-content {
    font-size: 12px;
    text-align: left;
    padding: 0px 8px 4px 8px;;
}

img.dam {
    position: absolute;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#pathfinder {
    top: 25%;
    left: 28%;
}

#seminoe {
    top: 35.5%;
    left: 28%;
}
#kortes {
    top: 36.5%;
    left: 28%;
}

#glendo {
    top: 25%;
    left: 50%;
}

#guernsey {
    top: 31%;
    left: 52%;
}

#grayrocks {
    top: 35%;
    left: 53%;
}

#whalen {
    top: 33%;
    left: 54%;
}