// HEADER IMAGES

.lead-opening {
	background-image: url('../img/opening.gif');
	@include breakpoint(mama-bear) {
		background-image: url('../img/mobile/header-lead.jpg');
	}
			background-color: white;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
}

#snow-opening {
    // background-image: url('http://projects.plattebasintimelapse.com/assets/static/gifs/snowfall.gif');
    background-image: url('../img/header-part-one.gif');
    @include breakpoint(mama-bear) {
		background-image: url('../img/mobile/header-part-one.jpg');
	}
}
#pathfinder-opening {
    // background-image: url('http://projects.plattebasintimelapse.com/assets/static/gifs/pathfinder.gif');
    background-image: url('../img/header-part-two.gif');
	@include breakpoint(mama-bear) {
		background-image: url('../img/mobile/header-part-two.jpg');
	}
}

#field-opening {
    // background-image: url('http://projects.plattebasintimelapse.com/assets/static/gifs/field.gif');
    background-image: url('../img/header-part-three.gif');
	@include breakpoint(mama-bear) {
		background-image: url('../img/mobile/header-part-three.jpg');
	}
}

.inline-video {
	@include breakpoint(mama-bear) {
		width: 100%;
		margin: 30px 0;
		.inline-media-wrapper {
			border: none;
		}
	}

	-webkit-transition: width 300ms linear;
    -moz-transition: width 300ms linear;
    -o-transition: width 300ms linear;
    transition: width 300ms linear;

    &.playing-inline-video {
    	width: 140%;

    	@include breakpoint(mama-bear) {
			width: 100%;
		}
    	.inline-media-wrapper {
    		border: none;
    	}
    }
}

.inline-video-btn {
	background: #e1e1e1;
	cursor: pointer;
	padding: 2px 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	@include breakpoint(mama-bear) {
		display:none;
	}
}

#close-part-two {
	background-image: url('../img/close-part-two.jpg');
	background-attachment: scroll;

	.text-over-image {
		position: absolute;
		top: 15%;
		left: 100px;
		font-size: 2.6em;
		line-height: .9em;
		width: 30%;

		@include breakpoint(mama-bear) {
			width: 50%;
			font-size: 2.4em;
		}
		@include breakpoint(baby-bear) {
			font-size: 2em;
			top: 15%;
			left: 25px;
		}
	}
}

#busch-farm-title {
	top: 30%;
	right: 10%;
	left: auto;
	bottom: auto;
	text-align:right;
	width: 35%;
	font-size: 3.6em;
	line-height: 1em;

	@include breakpoint(mama-bear) {
		width: 50%;
		font-size: 3em;
	}
	@include breakpoint(baby-bear) {
		font-size: 2.2em;
		top: 25%;
	}
}

.tl-sequence {
	.text-over-image {
		left: 25px;
		bottom: 15px;
		font-size: 1.6em;
		@include breakpoint(mama-bear) {
			font-size: 1.4em;
		}
		@include breakpoint(baby-bear) {
			font-size: 1.2em;
		}
	}
}

#jack-creek-video {
	width: 100%;
	display: none;
}
.video-behind {
	position: fixed;
	top:0;
	left:0;
	z-index: -100;
}

#seminoe {
	background-image: url('../img/seminoe.jpg');
}

#pathfinder-historicals .images {
    padding-bottom: 25px;
    @include breakpoint(baby-bear) {
		padding-bottom: 0;
	}
}

#historical-dam {
	background-image: url('../media/early-pathfinder.jpg');

}

#bob-water-kicker {
	position: absolute;
	top: 30%;
	right: 20%;
	text-align: right;
	font-size: 2.6em;
	line-height: 1em;
	width: 600px;
}

#part-one-end {
	background-image: url('../img/mobile/close-part-one.jpg');
}

#part-two-end {
	background-image: url('../media/part-two-end.jpg');
}

#winter-wonderland {
	background-image: url('../img/winter-wonderland.jpg');
}

#field1 {
    background-image: url('../img/beet-tl/field01.JPG');
}

#field2 {
    background-image: url('../img/beet-tl/field02.JPG');
}

#field3 {
    background-image: url('../img/beet-tl/field03.JPG');
}

#field4 {
    background-image: url('../img/beet-tl/field04.JPG');
}

#field5 {
    background-image: url('../img/beet-tl/field05.JPG');
}

#field6 {
    background-image: url('../img/beet-tl/field06.JPG');
}

#field7 {
    background-image: url('../img/beet-tl/field07.JPG');
}

#field8 {
    background-image: url('../img/beet-tl/field08.JPG');
}

#field9 {
    background-image: url('../img/beet-tl/field09.JPG');
}

#field10 {
    background-image: url('../img/beet-tl/field10.JPG');
}

#field11 {
    background-image: url('../img/beet-tl/field11.JPG');
}

#field12 {
    background-image: url('../img/beet-tl/field12.JPG');
}

.lightbox {
	margin-top: 10%;
}