#main-nav {
    position: fixed;
    left: 0;
    width: 100%;
    height: auto;
    background: black;
    color: white;
    overflow: hidden;
    z-index: 100000;

    .nav-button {
    	i {
    		// padding-left: 10px;
    	}
    }
}

#intro {
    #main-nav {
        bottom: 0;
    }
}

.part-one, .part-two, .part-three {
    #main-nav {
        top: 0;
    }
}

.nav-wrapper {
    padding: 10px 20px;
    @include breakpoint(baby-bear) { 
        padding: 0 10px;
    }
}

.nav-button {
    cursor: pointer;
    display:inline-block;
    text-transform: uppercase;

    &.spacer {
        padding:0 10px;
        &:hover {
            color: white !important;
        }
    }
    &:hover {
    	color: $blue;
    }
}

#nav-open i {
	padding-right: 10px;
}

#credit-btn, #home-btn, .spacer, #twitter-share {
	float:right;
}



.nav-container {
    ul {
        padding-left: 0px;
    }
    li {
        list-style-type: none;
        padding-right: 25px;
    }

    img {
        border-radius: 8px;
        width: auto;
        height: 120px;
        @include breakpoint(mama-bear) { height: 80px; }
        
    }

    img:hover {
        opacity: .7;
    }
}

#menu {
    display: block;
    @include breakpoint(baby-bear) { display: none; }
    li {
        display: inline-block;
    }
}
#menu-mobile {
    display: none;
    @include breakpoint(baby-bear) { display: block; }

    li {
        display: block;
    }

    h5 {
        font-size: 1em;
    }
}

#credits-modal {

    .modal-dialog {
        margin-top: 10%;
        @include breakpoint(baby-bear) { margin-top: 30%; }
        @include breakpoint(mama-bear) { margin-top: 15%; }
    }

    .modal-title {
        text-transform: uppercase;
    }

	.modal-header {
		background-color: $dark;
		color: white;
		font-weight: bold;
		.close {color:white;opacity:1;}
	}

	.credits {
		margin-bottom: 10px;
		font-size:.9em;
		text-transform: uppercase;
        &.team { margin-bottom: 25px; padding-bottom: 25px; border-bottom: 1px solid lightgray; }
	}
    .speical-thanks {
        margin-bottom: 10px;
    }
	.credit {
		font-size: .7em;
		line-height: .6em;
        margin-bottom: 0;

        &.small { font-size: .6em; }
        .name {
            font-size:1.4em;
            line-height: 1.3em;
        }
	}
    .thanks {
        line-height: 1.1em;
        font-size: .7em;
    }
    a {
        color: black;
        &:hover {
            color: $blue;
        }
    }
}

footer a:hover {
	color: $blue;
}

