//TEMP MEDIA STUFF

#image-featured-behind {
	background-image: url('../media/samples/image-featured-behind.jpg');
}
#field-opening {
	background-image: url('../media/cinemagraph-field.gif');
}

#temp-field {
    background-image: url('../media/sweetbeetfield2.jpg');
}

#pathfinder-opening {
    background-image: url('../media/pathfinder.gif');
}

.sound-container {
    position: absolute;
    bottom: 20px;
    right: 30px;
    padding: 0px 10px;
    color: white;
    cursor: pointer;
}