//TEMP MEDIA STUFF

#image-featured-behind {
	background-image: url('../media/samples/image-featured-behind.jpg');
}

#snow-map {
    background-image: url('../media/north-platte-river-system-part-1.png')
}

#temp-field {
    background-image: url('../media/sweetbeetfield2.jpg');
}



.zoom-in-icon {
    height: 15px;
    width: 15px;
}

.sound-container {
    position: absolute;
    bottom: 20px;
    right: 30px;
    padding: 0px 10px;
    color: white;
    cursor: pointer;
}

#pathfinder-historicals .col-sm-6 {
    padding-bottom: 25px;
}