
// Fonts
$global-font-size: 22px;
$med-global-font-size: 18px;
$small-global-font-size: 16px;
$global-font-family: 'Proxima Nova', sans-serif;
$titles-font-family: 'Proxima Nova', sans-serif;

$percent-text-left-width: .75;

// Formatting
$container-width: 780px;


// Media
$feature-image-max-width: 2200px;

// Colors
$dark: black;
$blue: steelblue;
$red: #b42f1d;
.red  { color: $red; }