

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'variables';
@import 'media-queries';

@import 'blocks';
@import 'sections';
@import 'tags';

@import 'intro';

@import 'media';

@import 'swe-interactive';
@import 'charts';
@import 'mapping';

@import 'shame';


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}