<nav id="main-nav" role="navigation" class="down" data-200-start="margin-top:-80px;" data-800-start="margin-top:0px;">
    <div class="nav-wrapper">
        <div class="nav-button" id="home-btn">
            <h4><a href="http://www.plattebasintimelapse.com">PBT</a></h4>
        </div>
        <div class="nav-button spacer">
            <h4>|</h4>
        </div>
        <div class="nav-button" id="credit-btn" data-toggle="modal" data-target="#credits-modal">
            <h4><i class="fa fa-group"></i></h4>
        </div>
        <div class="nav-button" id="nav-open">
            <h4><i class="fa fa-navicon"></i><span class="baby-bear-hide">Chapters</span></h4>
        </div>
        <div class="nav-container hidden">

            <ul id="menu">
                <li id="intro"><a href="../" data-title="Intro"><i class="fa fa-chevron-left"></i></a></li>
                <li id="one"><a href="../snow" data-title="Part One: &#10; The White Wonder"><img src="../img/nav-part-one.jpg" alt=""></a></li>
                <li id="two"><a href="../storage" data-title="Part Two: &#10; Guiding Each Precious Drop"><img src="../img/nav-part-two.jpg" alt=""></a></li>
                <li id="three"><a href="../field" data-title="Part Three: &#10; Life Blood of the Cultivated Land"><img src="../img/nav-part-three.jpg" alt=""></a></li>
                <li><h3 id="nav-title" class="hidden"></h3></li>
            </ul>

            <ul id="menu-mobile">
                <li id="intro"><a href="../"><h5>Intro</h5></a></li>
                <li id="one"><a href="../snow"><h5>Part One: The White Wonder</h5></a></li>
                <li id="two"><a href="../storage"><h5>Part Two: Guiding Each Precious Drop</h5></a></li>
                <li id="three"><a href="../field"><h5>Part Three: Life Blood of the Cultivated Land</h5></a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid mama-bear-hide" id="pager-progress">
        <div id="pager" data-0="width:0%" data-end="width:100%;">
        </div>
    </div>
</nav>

<div class="modal fade" id="credits-modal" tabindex="-1" role="dialog" aria-labelledby="credits" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    <span class="sr-only">Close</span>
                </button>
                <p class="modal-title" id="credits">Who Made This</p>
            </div>
            <div class="modal-body">
                <div>
                    <p class="thanks">This project was created over the course of several years as part of the Platte Basin Timelapse project. Generous funding NET, IANR, Nebraska Environmental Trust and others made it possible.</p>
                </div>
                <div class="credits">
                    <p class="credits">credits</p>
                    <p class="credit">Design & Development: <span class="name">Steven Speicher</span></p>
                    <p class="credit">Reporting: <span class="name">Ariana Brocious</span></p>
                    <p class="credit">Video Shooting/Editing: <span class="name">Peter Stegen</span></p>
                    <p class="credit">Multimedia: <span class="name">Peter Stegen & Steven Speicher</span></p>
                    <p class="credit">Interactives: <span class="name">Steven Speicher</span></p>
                    <p class="credit">Production Assistants: <span class="name">Joe Arneson</span></p>
                    <p class="credit">Historical Research: <span class="name">Andrew DeCamp</span></p>
                    <p class="credit">Editing: <span class="name">Matt Waite</span></p>
                    <p class="credit">Transcription: <span class="name">Pat Richmond & Jan Howard</span></p>
                    <p class="credit">Producer: <span class="name">Michael Farrell</span></p>
                </div>
                <div>
                    <p class="credits">Speical Thanks</p>
                    <p class="thanks">Bob Busch, Mage Hulstrand, Matt Hoobler, afna awnvawrjga a,aar gabg agakrgja rg ag, rwgbwgj gWRG,</p>
                </div>
                <div><p class="thanks">Snowflake icons made by Freepik from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p></div>
            </div>
        </div>
    </div>
</div>

