<!--(bake partials/header.html title="The White Wonder" id="part-one")-->



        <!--(bake partials/nav.html)-->

        <header class="image-featured-behind">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-full image-featured-title" id="snow-opening"></div>
                </div>
            </div>

            <!-- <div class="opening-pull-quote">
                <p>"Without water we have nothing."</p>
            </div> -->

            <div class="opening-title-right" data-start="opacity:1;" data-600-start="opacity:0;">
                <!--(bake partials/section_title.html _section="snow")-->
            </div>
            <div class="opening-scroll" data-start="opacity:1; bottom:1%;" data-100-start="opacity:0; bottom: -10%;">
                <p>scroll</p>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div class="sound-container" data-start="opacity:1;" data-300-start="opacity:0;">
                <i class="fa fa-volume-up fa-lg"></i><audio id="snow-sounds" loop src="../media/snow.mp3"></audio>
            </div>
        </header>

        <section class="copy first">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">

                        <!--(bake partials/copy.html _foreach="grafs:snow.intro.grafs")-->

                        <div class="inline-media-large">
                            <div class="inline-media-wrapper no-border">
                                <img class="zoom" src="../media/north-platte-map.png" alt="">
                                <span class="image-caption image-caption-right"><img class="zoom-in-icon baby-bear-hide" src="../media/zoom.png" />The North Platte River drains the northern Colorado Rockies and flows north into Wyoming. It meets the South Platte River in western Nebraska.</span>
                            </div>
                        </div>

                        <!--(bake partials/copy.html _foreach="grafs:snow.intro_with_map.grafs")-->

                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured">
            <div class="container-fluid">
                <div class="row">
                    <img src="../img/agnes.jpg" alt="">
                    <span class="image-caption image-caption-right">Lake Agnes in late winter, in the highest reaches of the North Platte Basin around 10,000 feet. In a good year, this spot often receives more than 10 feet of snowpack.</span>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">

                        <!--(bake partials/copy.html _foreach="grafs:snow.before_snotel_video.grafs")-->

                        <div class="inline-media-large inline-video" id="snotel-video">
                            <div class="inline-media-wrapper">
                                <div class="video-wrapper-16-9 vid-wrap">
                                    <iframe id="snotel" src="//player.vimeo.com/video/107067451?title=0&amp;byline=0&amp;portrait=0&amp;loop=0&amp;player_id=snotel&amp;api=1" frameborder="0"></iframe>
                                </div>
                                <span class="image-caption image-caption-right">Mage Hultstrand of NRCS explains a SNOTEL site.</span>
                            </div>
                        </div>

                        <p>She <span class="inline-video-btn" id="play-snotel"><i class="fa fa-play"></i> explained</span><span class="mama-bear">explained</span> each of the snow-covered instruments, including a snow “pillow,” full of an antifreeze solution. It acts like a liquid scale, measuring the weight of the snow and converting it to total water content of the snowpack. SNOTEL stands for “snowpack telemetry”—basically remote data collection and transmission. Every year more than 700 remote stations like this one track snowpack and climate data across the West. That’s especially critical in Colorado. </p>

                        <!--(bake partials/copy.html _foreach="grafs:snow.after_snotel_video.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured-behind">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-small" id="winter-wonderland"></div>
                </div>
                <span class="image-caption image-caption-right">Late winter at Jack Creek, near the headwaters of the North Platte River.</span>
            </div>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:snow.before_snowpack_interactive.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="interactive" id="interactive-swe">
            <div class="container container-large">
                <div class="row">
                    <h2>Science of Measuring Snowpack </h2>
                </div>
                <div class="row mama-bear">
                    <div class="col-sm-12" id="swe-desc">
                        <p>Snow water equivalency is how much water will result from snow melting all at once. Scientists use the equation <b>SWE = Density * Depth</b> to calculate it.</p>
                        <p>Due to factors like wind, temperature and compaction over time, different types of snow have different densities. The Natural Resources Conservation Service collects and compiles this data into monthly reports, issuing streamflow forcasts.</p>
                        <p class="baby-bear"><b>Data from wind packed snow</b></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-2">
                        <div class="row">
                            <div class="col-md-9 col-sm-8 col-no-pad-right baby-bear-hide">
                                <h4><i class="fa fa-hand-o-up"></i> Select a snow <em>type</em> and <em>depth</em>:</h4>
                                <div id="snow-type-selection">
                                    <p id="new-snow" data-toggle="popover" data-content="<span>Density: <b>50-70 kg/m<sup>3</sup></b></span><br />Fresh snow immediately after falling in calm conditions"><span><img src="../img/swe/new-snow.png" alt="">New Snow</span></p>
                                    <p id="settled-snow" data-toggle="popover" data-content="Density: <b>200-300 kg/m<sup>3</sup></b>"><span><img src="../img/swe/settled-snow.png" alt="">Settled Snow</span></p>
                                    <p id="depth-hoar" data-toggle="popover" data-content="<span>Density: <b>100-300 kg/m<sup>3</sup></b></span><br />Depth hoar are ice crystals at the base of a snowpack caused by uprising water vapor"><span><img src="../img/swe/depth-hoar.png" alt="">Depth Hoar</span></p>
                                    <p class="selected" data-toggle="popover" data-content="Density: <b>350-400 kg/m<sup>3</sup></b>" id="wind-packed-snow"><span><img src="../img/swe/wind-packed-snow.png" alt="">Wind Packed Snow</span></p>
                                    <p data-toggle="popover" data-content="<span>Density: <b>550-830 kg/m<sup>3</sup></b></span><br />Granular and partially compacted snow that has passed through one summer’s melting season but has not yet turned to glacial ice" id="firn"><span><img src="../img/swe/firn.png" alt="">Firn</span></p>
                                    <p data-toggle="popover" data-content="Density: <b>700-800 kg/m<sup>3</sup></b>" id="very-wet-snow"><span><img src="../img/swe/very-wet-snow.png" alt="">Very Wet Snow</span></p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-no-pad">
                                <div class="ticks"></div>
                                <div id="slider"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-5">
                        <div id="snowflakes"></div>
                    </div>

                    <div class="col-md-1 col-sm-1 baby-bear-hide col-no-pad">
                        <div id="equals"></div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-5" >
                        <div id="waterdrops"></div>
                    </div>

                    <div class="col-sm-3 mama-bear-hide" id="swe-desc">
                        <p>Snow water equivalency is how much water will result from snow melting all at once. Scientists use the equation <b>SWE = Density * Depth</b> to calculate it.</p>
                        <p>Due to factors like wind, temperature and compaction over time, different types of snow have different densities. The Natural Resources Conservation Service collects and compiles this data into monthly reports, issuing streamflow forcasts.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 baby-bear-hide"></div>
                    <div class="col-md-3 col-sm-3 col-xs-5"><p class="swe-totals" id="snow-depth-text"></p></div>
                    <div class="col-md-1 col-sm-2 col-xs-2"><p class="swe-totals">equals</p></div>
                    <div class="col-md-3 col-sm-3 col-xs-5"><p class="swe-totals" id="water-depth-text"></p></div>
                </div>
                <div class="row credit">
                    <div class="col-xs-12">
                        <p>Source: Paterson, W.S.B. 1994. <em></em> via <a target="_blank" href="http://www.sciencelearn.org.nz/Contexts/Icy-Ecosystems/Looking-closer/Snow-and-ice-density">http://www.sciencelearn.org</a></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:snow.before_snowpack_video.grafs")-->

                        <div class="inline-media-large inline-video" id="snowpack-video">
                            <div class="inline-media-wrapper">
                                <div class="video-wrapper-16-9 vid-wrap">
                                    <iframe id="snowpack" src="//player.vimeo.com/video/107071437?title=0&amp;byline=0&amp;portrait=0&amp;loop=0&amp;player_id=snowpack&amp;api=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <span class="image-caption image-caption-right">Matt Hoobler of the Wyoming State Engineer's Office measures snowpack at sites throughout the North Platte River Basin.</span>
                            </div>
                        </div>

                        <p>Hoobler <span class="inline-video-btn" id="play-snowpack"><i class="fa fa-play"></i> collects</span><span class="mama-bear">collects</span> snowpack information at sites throughout Wyoming, like his colleagues in 12 other Western states. Understanding the relationship between snowpack and water supply is critical, he said. </p>
                        
                        <!--(bake partials/copy.html _foreach="grafs:snow.after_snowpack_video.grafs")-->

                    </div>
                </div>
            </div>
        </section>

        <section class="interactive">
            <div class="container container-large">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Snowpack Variability in the North Platte River Basin</h3>
                        <div id="snotel-chart"></div>
                        <div id="snotel-legend"><i class="fa fa-hand-o-up"></i></div>
                        <div class="credit">
                            <p>Data from the <a href="http://www.wcc.nrcs.usda.gov/snow/">Natural Resources Conservation Service</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>SNOTEL sites record snowpack data across the mountains of the American West throughout the year. Each line in this chart represents snow water equivalency measured for selected SNOTEL sites within the North Platte River Basin in northern Colorado for the last decade.</p>

                        <p>While sites receive different amounts of snowfall due to their location, taken together, these sites demonstrate the wide variability of snowpack from year to year.</p>

                        <p>In the last decade, the North Platte River Basin has seen the highest snowpack in 30 years in 2011, followed by one of the lowest snowpack years on record in 2012.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <p id="snow-text1"></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:snow.after_swe_chart.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section id="video-closing-trigger">
            <div class="container container-large">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="video-wrapper-16-9 vid-wrap">
                            <iframe id="snowpack" src="//player.vimeo.com/video/107632078?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:snow.ending.grafs")-->
                    </div>
                </div>
            </div>
        </section>

     <!--    <section class="gap-full mama-bear-hide hidden" id="video-closing">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 video-behind col-no-pad video-wrapper-16-9 vid-wrap">
                        <video id="jack-creek-video" loop preload="metadata" pposter="../media/part-one-end.jpg">
                            <source src="../media/jack-creek.mp4" type="video/mp4">
                            <source src="../media/jack-creek.ogg" type="video/ogg">
                        </video>
                        <iframe id="jackcreek" src="//player.vimeo.com/video/108289903?title=0&amp;byline=0&amp;portrait=0&amp;loop=0&amp;player_id=jackcreek&amp;api=1" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </section> -->

        <section class="footer mama-bear-hide" id="video-closing">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-no-pad video-wrapper-16-9 vid-wrap">
                        <iframe id="jackcreek" src="//player.vimeo.com/video/108909181?title=0&amp;byline=0&amp;portrait=0&amp;loop=0&amp;player_id=jackcreek&amp;api=1" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured-behind mama-bear footer">
            <div class="container-fluid">
                <div class="row">
                    <span class="image-caption image-caption-right">By spring, Jack Creek transforms from a snowy wonderland into a raging stream.</span>
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="part-one-end">
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-6">
                        <p class="next-page"><a href="../storage">Part Two: Guiding Each Precious Drop</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!--(bake partials/footer.html)-->

        <!-- PAGE SPECIFIC SCRIPTS -->
        <script>
            $('img.zoom')
                .wrap('<span style="display:inline-block"></span>')
                .css('display', 'block')
                .parent()
                .zoom({
                    on: 'click',
                    magnify: '1',
                    touch: 'true'
                });

            $('#ui-slider-handle').draggable();
            $('#snow-type-selection p').popover({
                trigger : 'hover',
                html : 'true'
            });

            var $iframe = $('#jackcreek')[0];
            var player = $f($iframe);

            player.addEvent('ready', ready);

            function ready(player_id) {
                console.log("Part One close ready")
            }


            $('#video-closing').waypoint(function(direction) {

                if (direction == "up") {
                    player.api("unload")
                } else if (direction == "down") {
                    player.api("play");
                }

            }, {offset: 300});

        </script>
    </body>
</html>