<!--(bake partials/header.html title="Snow" id="part-one")-->

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-200-start="margin-top:-60px;" data-800-start="margin-top:0px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h4 href="#">North Platte Irrigation</h4>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="../">intro</a></li>
                        <li class="active"><a href="../snow">1</a></li>
                        <li><a href="../storage">2</a></li>
                        <li><a href="../field">3</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid" id="pager-progress">
                <div id="pager" data-0="width:0%" data-end="width:100%;">
                    
                </div>
            </div>
        </nav>

        <header class="image-featured-behind">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-full image-featured-title" id="snow-opening"></div>
                </div>
            </div>

            <!-- <div class="opening-pull-quote">
                <p>"Without water we have nothing."</p>
            </div> -->

            <div class="opening-title-right" data-start="opacity:1;" data-600-start="opacity:0;">
                <!--(bake partials/section_title.html _section="snow")-->
                <h5>By Ariana Brocious</h5>
            </div>
            <div class="opening-scroll" data-start="opacity:1; bottom:1%;" data-100-start="opacity:0; bottom: -10%;">
                <p>scroll</p>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div class="sound-container" data-start="opacity:1;" data-300-start="opacity:0;">
                <i class="fa fa-volume-off fa-lg"></i><audio id="snow-sounds" loop src="../media/Life Is Good_DWCD 0558_18_De Wolfe Lawrence Oakley and Mark Waterfield and Tamara Schlesinger.wav"></audio>
            </div>
        </header>

        <!-- <section class="image-featured-behind no-padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="snow-map" data-100="transform:translateY(250px);" data-700="transform:translateY(0px);">
                    </div>
                </div>
            </div>
        </section> -->

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">

                        <!--(bake partials/copy.html _foreach="grafs:snow.section_one.grafs")-->

                        <div class="inline-media-large">
                            <div class="inline-media-wrapper">
                                <div class="video-wrapper-16-9 vid-wrap">
                                    <iframe src="//player.vimeo.com/video/107067451?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <span class="image-caption image-caption-right">Mage explains a SNOTEL site.</span>
                            </div>
                        </div>

                        <!--(bake partials/copy.html _foreach="grafs:snow.section_two.grafs")-->
                        
                    </div>
                </div>
            </div>
        </section>

        <section class="interactive" id="interactive-swe">
            <div class="container container-large">
                <div class="row">
                    <h2>Measuring Snowpack</h2>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="col-xs-10">
                                <h4>Snow Type</h4>
                                <select id="snow-type">
                                    <option value="new-snow">New Snow</option>
                                    <option value="settled-snow">Settled Snow</option>
                                    <option value="depth-hoar">Depth Hoar</option>
                                    <option value="wind-packed-snow" selected="selected">Wind Packed Snow</option>
                                    <option value="firn">Firn</option>
                                    <option value="very-wet-snow">Very Wet Snow</option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <div id="slider"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div id="snowflakes"></div>
                        <p class="swe-totals" id="snow-depth-text"></p>
                    </div>

                    <div class="col-sm-1">
                        <div id="equals"></div>
                    </div>
                    <div class="col-sm-3" >
                        <div id="waterdrops"></div>
                        <p class="swe-totals" id="water-depth-text"></p>
                    </div>

                    <div class="col-sm-3">
                        <p>Snow water equivalency is calculated by knowing snowpack's density and depth. Different types of snow have different densities. Using the following equation <b>SWE = Density * Depth</b>, snow water equivalency can be approximated. April 1st is generally considered the ideal day to predict water flowing downstream.</p>

                        <p><span><img src="../media/snow.png" alt=""> = 1 inch of snow</span></p>
                        <p><span><img src="../media/waterdrop.png" alt=""> = 1 inch of water</span></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <!--(bake partials/copy.html _foreach="grafs:snow.section_three.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inline-media-large">
                            <div class="inline-media-wrapper">
                                <div class="video-wrapper-16-9 vid-wrap">
                                    <iframe src="//player.vimeo.com/video/107071437?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                                <span class="image-caption image-caption-right">Mage explains a SNOTEL site.</span>
                            </div>
                        </div>
                        <!--(bake partials/copy.html _foreach="grafs:snow.section_four.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured-behind footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="image-featured-behind"></div>
                </div>
            </div>
        </section>

        <section class="interactive">
            <div class="container container-large">
                <div class="row">
                    <div class="col-sm-8">
                        <div id="snotel-chart"></div>
                    </div>
                    <div class="col-sm-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat unde hic voluptas perferendis, magnam consectetur tenetur aperiam, excepturi in nemo molestias omnis voluptates at perspiciatis cum nostrum minus cupiditate sit!</p>
                        <p>Temporibus, cum, laborum! Sed modi saepe voluptate sequi deserunt facere at velit qui magni? Voluptate odit, non quibusdam velit necessitatibus a recusandae quia error placeat quisquam tempora amet, soluta, repellendus.</p>
                        <p>Vel dolorum facilis quos quibusdam voluptates amet ratione fuga, ipsam ea voluptatem, soluta reiciendis commodi. Dignissimos, ab tempora autem qui placeat voluptates necessitatibus adipisci minima, reiciendis, soluta magni atque ratione!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <p id="snow-text1"></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Asperiores, veritatis harum vitae minus commodi. Quam sit explicabo perspiciatis deleniti, labore quas maiores non temporibus laudantium, cumque excepturi, accusantium sunt esse voluptas nulla! Doloremque debitis qui, repudiandae suscipit recusandae?</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured-behind footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="image-featured-behind"></div>
                </div>
            </div>
        </section>


        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                        <p class="credits">credits</p>
                        <!--(bake partials/credits.html _foreach="credits:credits")-->
                    </div>
                    <div class="col-sm-4">
                        <p class="next-page"><a href="../storage">Part Two</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!--(bake partials/footer.html)-->
        

        <!-- PAGE SPECIFIC SCRIPTS -->
        <script>
            var s = skrollr.init();
            $('#ui-slider-handle').draggable();

            var iframe = document.getElementById('autoplay');

             // $f == Froogaloop
            var player = $f(iframe);

             //Play when iframe is in viewport
            $('#autoplay').waypoint(function() {
                player.api("play");
            }, {
                offset: 'bottom-in-view'
            });

             //Pause when top of iframe is in viewport
            $('#autoplay').waypoint(function() {
                player.api("pause");
            });
            $('img.dam').popover({
                trigger : 'hover',
                html : 'true'
            });
        </script>
    </body>
</html>