<!--(bake includes/header.html title="Snow" id="part-one")-->

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-200-start="margin-top:-60px;" data-800-start="margin-top:0px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h4 href="#">North Platte Irrigation</h4>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="../">intro</a></li>
                        <li class="active"><a href="../snow">1</a></li>
                        <li><a href="../storage">2</a></li>
                        <li><a href="../field">3</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid" id="pager-progress">
                <div id="pager" data-0="width:0%" data-end="width:100%;">
                    
                </div>
            </div>
        </nav>

        <header class="image-featured-behind">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-full image-featured-title" id="field-opening"></div>
                </div>
            </div>

            <div class="opening-pull-quote">
                <p>"Without water we have nothing."</p>
            </div>

            <div class="opening-title-right" data-start="opacity:1;" data-600-start="opacity:0;">
                <!--(bake includes/chapter_title.html _section="snow")-->
                <h5>By Ariana Brocious</h5>
            </div>
            <div class="opening-scroll" data-start="opacity:1; bottom:1%;" data-100-start="opacity:0; bottom: -10%;">
                <p>scroll</p>
                <span class="lead-scroll-arrow glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="sound-container"><i class="fa fa-volume-off fa-lg"></i><audio id="snow-sounds" loop src="../media/Life Is Good_DWCD 0558_18_De Wolfe Lawrence Oakley and Mark Waterfield and Tamara Schlesinger.wav"></audio></div>
        </header>

        <section class="second-title">
            <div class="container">
                <div class="row-md-12">
                    <h2>A Second Title</h2>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake includes/copy.html _foreach="grafs:snow.section_one.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured-behind">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-full" id="image-featured-behind">
                        <div class="blockquote-behind">
                            <p>This is a blockquote-behind!</p>
                        </div>
                    </div>
                </div>
                <span class="image-caption image-caption-right">This is a image featured behind caption. It moves with the lower panel over the featured image.</span>
            </div>
        </section>

        <section class="second-title">
            <div class="container">
                <div class="row-md-12">
                    <h2>A Second Title</h2>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake includes/copy.html _foreach="grafs:snow.section_two.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="interactive">
            <div class="container container-large">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Snowpack Equivalency!</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <!-- <h4>Water Drops</h4> -->
                        <span class="water-drop"><i class="fa fa-coffee"></i></span>
                        <span class="water-drop"><i class="fa fa-coffee"></i></span>
                        <span class="water-drop"><i class="fa fa-coffee"></i></span>
                        <span class="water-drop"><i class="fa fa-coffee"></i></span>
                        <span class="water-drop"><i class="fa fa-coffee"></i></span>
                        <span class="water-drop"><i class="fa fa-coffee"></i></span>
                        <span class="water-drop"><i class="fa fa-coffee"></i></span>
                        <span class="water-drop"><i class="fa fa-coffee"></i></span>
                        <span class="water-drop"><i class="fa fa-coffee"></i></span>
                    </div>
                    <div class="col-sm-1">
                        <div id="equals">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- <h4>Snowflakes<h4> -->
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                        <span class="snowflake"><i class="fa fa-beer"></i></span>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <p>This is text for the interactive. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis est debitis repellendus doloribus quod, sit incidunt iste dignissimos, quaerat inventore.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <blockquote>With fresh snow, it's about a 10 to 1 ratio, so 10 inches of snow depth for one inch of SWE.</blockquote>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake includes/copy.html _foreach="grafs:snow.section_three.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="image">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="../media/samples/image.jpg" alt="">
                        <span class="image-caption image-caption-left">This is a feature image caption left.</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake includes/copy.html _foreach="grafs:snow.section_four.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="image-large">
            <div class="container container-large">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="../media/samples/image-large.jpg" alt="">
                        <span class="image-caption image-caption-left">This is a feature image caption left.</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="interactive">
            <div class="container container-large">
                <div class="row">
                    <div class="col-sm-3">
                        <div id="snow-chart1"></div>
                    </div>
                    <div class="col-sm-3">
                        <div id="snow-chart2"></div>
                    </div>
                    <div class="col-sm-3">
                        <div id="snow-chart3"></div>
                    </div>
                    <div class="col-sm-3">
                        <div id="snow-chart4"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <p id="snow-text1"></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12-sm">
                        <img src="../media/samples/image-featured.jpg" alt="">
                        <span class="image-caption image-caption-left">This is a feature image caption left.</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="video">
            <div class="container container-large">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="vid-wrap video-wrapper-3-2">
                            <iframe id="autoplay" src="//player.vimeo.com/video/59031251?api=1&player_id=autoplay&title=0&amp;byline=0&amp;portrait=0" width="100%" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured-behind">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-full" id="image-featured-behind"></div>
                </div>
                <span class="image-caption image-caption-right">This is a image featured behind caption. It moves with the lower panel over the featured image.</span>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Asperiores, veritatis harum vitae minus commodi. Quam sit explicabo perspiciatis deleniti, labore quas maiores non temporibus laudantium, cumque excepturi, accusantium sunt esse voluptas nulla! Doloremque debitis qui, repudiandae suscipit recusandae?</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured-behind footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="image-featured-behind"></div>
                </div>
            </div>
        </section>


        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                        <p class="credits">credits</p>
                        <!--(bake includes/credits.html _foreach="credits:credits")-->
                    </div>
                    <div class="col-sm-4">
                        <p class="next-page"><a href="../storage">Part Two</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!--(bake includes/footer.html)-->
        

        <!-- PAGE SPECIFIC SCRIPTS -->
        <script>
            var s = skrollr.init();

            var iframe = document.getElementById('autoplay');

             // $f == Froogaloop
            var player = $f(iframe);

             //Play when iframe is in viewport
            $('#autoplay').waypoint(function() {
                player.api("play");
            }, {
                offset: 'bottom-in-view'
            });

             //Pause when top of iframe is in viewport
            $('#autoplay').waypoint(function() {
                player.api("pause");
            });
            var s = skrollr.init();
            $('img.dam').popover({
                trigger : 'hover',
                html : 'true'
            });
        </script>
    </body>
</html>