<!--(bake partials/header.html title="Field" id="part-three")-->

        <!--(bake partials/nav.html)-->

        <header class="image-featured-behind">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-full image-featured-title" id="field-opening"></div>
                </div>
            </div>
            
            <div class="opening-title-right" data-start="opacity:1;" data-600-start="opacity:0;">
                <!--(bake partials/section_title.html _section="field")-->
            </div>
            <div class="opening-scroll" data-start="opacity:1; bottom:1%;" data-100-start="opacity:0; bottom: -10%;">
                <p>scroll</p>
                <i class="fa fa-chevron-down"></i>
            </div>
        </header>

        <section class="copy first">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.section_one.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="tl-sequence-container">
            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field1">
                            <p class="text-over-image">July 3rd</p>
                            <div id="bob-farm-title"><p class="text-over-image" >12 Days on the Busch Family's Sugarbeet Farm</p></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field2">
                            <p class="text-over-image">July 4th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field3">
                            <p class="text-over-image">July 5th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field4">
                            <p class="text-over-image">July 6th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field5">
                            <p class="text-over-image">July 7th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field6">
                            <p class="text-over-image">July 8th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field7">
                            <p class="text-over-image">July 9th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field8">
                            <p class="text-over-image">July 10th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field9">
                            <p class="text-over-image">July 11th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field10">
                            <p class="text-over-image">July 12th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field11">
                            <p class="text-over-image">July 13th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field12">
                            <p class="text-over-image">July 14th</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.section_two.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="chart" id="ag-stats">
            <div class="container container-large">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="table-title">Nebraska</p>
                                <table id="nebraska-econ">
                                    <tr>
                                        <td>Top Crop</td>
                                        <td class="amount">Acres</td>
                                        <td class="rank">US Rank</td>
                                    </tr>
                                    <tr>
                                        <td>Corn for grain</td>
                                        <td class="amount">9,087,851</td>
                                        <td class="rank">3</td>
                                    </tr>
                                    <tr>
                                        <td>Soybeans for beans</td>
                                        <td class="amount">4,983,253</td>
                                        <td class="rank">6</td>
                                    </tr>
                                    <tr>
                                        <td>Forage-land <span><i class="fa fa-info tip" data-toggle="tooltip" data-placement="right" title="Used for all hay and haylage, grass silage, and greenchop"></i></span></td>
                                        <td class="amount">2,487,312</td>
                                        <td class="rank">5</td>
                                    </tr>
                                    <tr>
                                        <td>Wheat for grain, all</td>
                                        <td class="amount">1,309,269</td>
                                        <td class="rank">10</td>
                                    </tr>
                                    <tr>
                                        <td>Winter wheat for grain</td>
                                        <td class="amount">1,302,674</td>
                                        <td class="rank">7</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <p class="table-title">Scotts Bluff County</p>
                                <table id="scotts-bluff-econ">
                                    <tr>
                                        <td>Top Crop</td>
                                        <td class="amount">Acres</td>
                                        <td class="rank">State Rank</td>
                                        <td class="rank">US Rank</td>
                                    </tr>
                                    <tr>
                                        <td>Corn for grain</td>
                                        <td class="amount">87,975</td>
                                        <td class="rank">52</td>
                                        <td class="rank">355</td>
                                    </tr>
                                    <tr>
                                        <td>Forage-land <span><i class="fa fa-info tip" data-toggle="tooltip" data-placement="right" title="Used for all hay and haylage, grass silage, and greenchop"></i></span></td>
                                        <td class="amount">41,931</td>
                                        <td class="rank">12</td>
                                        <td class="rank">328</td>
                                    </tr>
                                    <tr>
                                        <td>Dry Edible Beans <span><i class="fa fa-info tip" data-toggle="tooltip" data-placement="right" title="Excludes lima beans"></i></span></td>
                                        <td class="amount">39,854</td>
                                        <td class="rank">1</td>
                                        <td class="rank">24</td>
                                    </tr>
                                    <tr>
                                        <td>Sugar beets for sugar</td>
                                        <td class="amount">12,116</td>
                                        <td class="rank">2</td>
                                        <td class="rank">31</td>
                                    </tr>
                                    <tr>
                                        <td>Wheat for grain, all</td>
                                        <td class="amount">10,017</td>
                                        <td class="rank">26</td>
                                        <td class="rank">680</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row credit">
                            <div class="col-sm-12">
                                <p>Data from the 2012 Agricultural Census</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.section_three.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="interactive">
            <div class="container container-large">
                <div class="row">
                    <h2>Populations West of the 100<sup>th</sup> Meridian</h2>
                    <div class="col-sm-9">
                        <div id="pop-chart"></div>
                    </div>
                    <div class="col-sm-3">
                        <h4 class="sticky">Selected Counties in Nebraska & Wyoming</h4>
                        <div class="population-list">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="interactive-note">Counties with population over 50,000 are not included.</p>
                        <p class="interactive-note">Scotts Bluff County in <span class="red">red</span>.</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container container-large">
                <div class="row" id="stack-maps">
                    <div class="col-sm-12">
                        <img id="np-map" src="../media/north-platte-river.png">
                        <!-- <img id="after" src="../media/north-platte-canals.png"> -->
                    </div>
                    <button class="btn btn-default" id="toggle-canals">Toggle Canals</button>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.section_four.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured-behind footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="image-featured-behind">
                    </div>
                </div>
            </div>
        </section>


        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="next-page"><a href="http://www.plattebasintimelapse.com">Go Back</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!--(bake partials/footer.html)-->
        
        <!-- PAGE SPECIFIC SCRIPTS -->
        <script>
            $('.tip').tooltip();

        </script>
    </body>
</html>