<!--(bake partials/header.html title="Lifeblood of the Cultivated Land" id="part-three")-->

        <!--(bake partials/nav.html)-->

        <header class="image-featured-behind">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-full image-featured-title" id="field-opening"></div>
                </div>
            </div>
            
            <div class="opening-title-right" data-start="opacity:1;" data-600-start="opacity:0;">
                <!--(bake partials/section_title.html _section="field")-->
            </div>
            <div class="opening-scroll" data-start="opacity:1; bottom:1%;" data-100-start="opacity:0; bottom: -10%;">
                <p>scroll</p>
                <i class="fa fa-chevron-down"></i>
            </div>
        </header>

        <section class="copy first">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.intro.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="tl-sequence-container">
            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field1">
                            <p class="text-over-image">July 3rd</p>
                            <div id="bob-farm-title">
                                <p class="text-over-image" >12 Days on the Busch Family's Sugarbeet Farm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field2">
                            <p class="text-over-image">July 4th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field3">
                            <p class="text-over-image">July 5th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field4">
                            <p class="text-over-image">July 6th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field5">
                            <p class="text-over-image">July 7th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field6">
                            <p class="text-over-image">July 8th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field7">
                            <p class="text-over-image">July 9th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field8">
                            <p class="text-over-image">July 10th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field9">
                            <p class="text-over-image">July 11th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field10">
                            <p class="text-over-image">July 12th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field11">
                            <p class="text-over-image">July 13th</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field12">
                            <p class="text-over-image">July 14th</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.after_beet_tl.grafs")-->

                        <div class="inline-media-large inline-video" id="pipes-video">
                            <div class="inline-media-wrapper">
                                <div class="video-wrapper-16-9 vid-wrap">
                                    <iframe id="pipes" src="//player.vimeo.com/video/108523452?title=0&amp;byline=0&amp;portrait=0&amp;loop=0&amp;player_id=lyle&amp;api=1" frameborder="0"></iframe>
                                </div>
                                <span class="image-caption image-caption-right">Lyle Myler talks about dams and stuff</span>
                            </div>
                        </div>

                        <!--(bake partials/copy.html _foreach="grafs:field.irrigation_video.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="chart" id="ag-stats">
            <div class="container container-large">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="table-title">Nebraska</p>
                                <table id="nebraska-econ">
                                    <tr>
                                        <td>Top Crop</td>
                                        <td class="amount">Acres</td>
                                        <td class="rank">US Rank</td>
                                    </tr>
                                    <tr>
                                        <td>Corn for grain</td>
                                        <td class="amount">9,087,851</td>
                                        <td class="rank">3</td>
                                    </tr>
                                    <tr>
                                        <td>Soybeans for beans</td>
                                        <td class="amount">4,983,253</td>
                                        <td class="rank">6</td>
                                    </tr>
                                    <tr>
                                        <td>Forage-land <span><i class="fa fa-info tip" data-toggle="tooltip" data-placement="right" title="Used for all hay and haylage, grass silage, and greenchop"></i></span></td>
                                        <td class="amount">2,487,312</td>
                                        <td class="rank">5</td>
                                    </tr>
                                    <tr>
                                        <td>Wheat for grain, all</td>
                                        <td class="amount">1,309,269</td>
                                        <td class="rank">10</td>
                                    </tr>
                                    <tr>
                                        <td>Winter wheat for grain</td>
                                        <td class="amount">1,302,674</td>
                                        <td class="rank">7</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <p class="table-title">Scotts Bluff County</p>
                                <table id="scotts-bluff-econ">
                                    <tr>
                                        <td>Top Crop</td>
                                        <td class="amount">Acres</td>
                                        <td class="rank">State Rank</td>
                                        <td class="rank">US Rank</td>
                                    </tr>
                                    <tr>
                                        <td>Corn for grain</td>
                                        <td class="amount">87,975</td>
                                        <td class="rank">52</td>
                                        <td class="rank">355</td>
                                    </tr>
                                    <tr>
                                        <td>Forage-land <span><i class="fa fa-info tip" data-toggle="tooltip" data-placement="right" title="Used for all hay and haylage, grass silage, and greenchop"></i></span></td>
                                        <td class="amount">41,931</td>
                                        <td class="rank">12</td>
                                        <td class="rank">328</td>
                                    </tr>
                                    <tr>
                                        <td>Dry Edible Beans <span><i class="fa fa-info tip" data-toggle="tooltip" data-placement="right" title="Excludes lima beans"></i></span></td>
                                        <td class="amount">39,854</td>
                                        <td class="rank">1</td>
                                        <td class="rank">24</td>
                                    </tr>
                                    <tr>
                                        <td>Sugar beets for sugar</td>
                                        <td class="amount">12,116</td>
                                        <td class="rank">2</td>
                                        <td class="rank">31</td>
                                    </tr>
                                    <tr>
                                        <td>Wheat for grain, all</td>
                                        <td class="amount">10,017</td>
                                        <td class="rank">26</td>
                                        <td class="rank">680</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row credit">
                            <div class="col-sm-12">
                                <p>Data from the <a href="http://www.agcensus.usda.gov/">2012 Agricultural Census</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.section_three.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="interactive" id="pop-interactive">
            <div class="container container-large">
                <div class="row">
                    <h2>Counties West of the 100<sup>th</sup> Meridian</h2>
                    <h3><i class="fa fa-hand-o-up"></i> Population growth from 1900 - today</h3>
                    <div class="col-md-8">
                        <div id="pop-chart"></div>
                    </div>
                    <div class="col-md-4">
                        <!-- <h4 class="sticky">Counties in Nebraska, Wyoming & Colorado</h4> -->
                        <div id="pop-map"></div>
                        <!-- <div class="population-list"></div> -->
                        <div class="county-name"></div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="interactive-note">Counties with population over 50,000 are not included.</p>
                        <p class="interactive-note">Scotts Bluff County in <span class="red">red</span>.</p>
                    </div>
                    <div class="col-sm-6 credit">
                        <p>Data from the 2010 <a href="http://www.census.gov/">US Census.</a></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">

                        <p>There are <span class="inline-video-btn" id="toggle-canals"><i class="fa fa-play"></i> canals</span> in the western part of the state that carry all of this water to farmer's fields.</p>

                        <div class="inline-media-ex-large" id="canals-before-after">
                            <div class="inline-media-wrapper no-border">
                                <img id="canals-map-container" src="../media/canals/canals.png">
                            </div>
                        </div>

                        <!--(bake partials/copy.html _foreach="grafs:field.section_four.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured">
            <div class="container-fluid">
                <div class="row">
                    <img src="../media/IMG_1086 copy.jpg" alt="">
                </div>
            </div>
        </section>

        <section class="interactive" id="pathfinder-historicals">
            <div class=" container container-large">
                <div class="row images">
                    <div class="col-sm-2">
                        <p><img class="zoom-in-icon" src="../media/zoom.png" />At it's time, Pathfinder Dam was a tremendous undertaking. Four people died during its construction.</p><p>The top spans the girth of Fremont Canyon, offering dramatic views down steep sides to the river below.</p>
                    </div>
                    <div class="col-sm-5">
                        <img class="zoom" src="../media/IMG_1096 copy.jpg" alt="">
                    </div>
                    <div class="col-sm-5">
                        <img class="zoom" src="../media/IMG_1100 copy.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.section_five.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-no-pad video-wrapper-16-9 vid-wrap">
                        <!-- <div class=""> -->
                            <iframe src="//player.vimeo.com/video/108289903?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-4">
                        <p class="credits">credits</p>
                        <p class="credit">Design and Development: Billy Bob Joe</p>
                        <p class="credit">Reporting: Junior Poopy Pants</p>
                        <p class="credit">Multimedia: Ysha the Cat</p>
                        <p class="credit">Video Editing: A Young Man, A Scholar</p>
                        <p class="credit">Historical Research: Some History Dude</p>
                        <p class="credit">Geospatial Resea  rch: Mappy McGee</p>
                        <p class="credit">Prodution Intern: Some Other Folks Here Too</p>
                    </div>
                    <div class="col-sm-offset-2 col-sm-4">
                        <div>
                            <p>Return to:</p>
                        </div>
                        <div class="logo">
                            <a href="http://www.plattebasintimelapse.com"><img width="200" src="../img/PBTlogo-trans.png" alt=""></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>

        <!--(bake partials/footer.html)-->
        
        <!-- PAGE SPECIFIC SCRIPTS -->
        <script>
            $('.tip').tooltip();

            $('img.zoom')
                .wrap('<span style="display:inline-block"></span>')
                .css('display', 'block')
                .parent()
                .zoom({
                    on: 'click',
                    magnify: '1',
                    touch: 'true'
                });

        </script>
    </body>
</html>