<!--(bake partials/header.html title="Lifeblood of A Cultivated Land" id="part-three")-->

        <!--(bake partials/nav.html)-->

        <header class="image-featured-behind">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-full image-featured-title" id="field-opening"></div>
                </div>
            </div>
            
            <div class="opening-title-right" data-start="opacity:1;" data-600-start="opacity:0;">
                <!--(bake partials/section_title.html _section="field")-->
            </div>
            <div class="opening-scroll" data-start="opacity:1; bottom:1%;" data-100-start="opacity:0; bottom: 10%;">
                <p>scroll down</p>
                <i class="fa fa-chevron-down"></i>
            </div>
        </header>

        <section class="copy first">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.intro.grafs")-->

                        <div class="inline-media-large inline-video" id="tubes-video">
                            <div class="inline-media-wrapper">
                                <div class="video-wrapper-16-9 vid-wrap">
                                    <iframe id="tubes" src="//player.vimeo.com/video/108523452?title=0&amp;byline=0&amp;portrait=0&amp;loop=0&amp;player_id=tubes&amp;api=1" frameborder="0"></iframe>
                                </div>
                                <span class="image-caption image-caption-right">Bob Busch's grandson and a farmhand set siphon tubes.</span>
                            </div>
                        </div>

                        <p>After setting the <span class="inline-video-btn" id="play-tubes"><i class="fa fa-play"></i> siphon tubes</span><span class="mama-bear">siphon tubes</span>, they’ll let the water flow across this field for 24 hours before moving the pipes, and thus the water, again tomorrow morning. They repeat this process daily from May through September, making the most of their water.</p>

                        <!--(bake partials/copy.html _foreach="grafs:field.irrigation_video.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="tl-sequence-container">
            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field1">
                            <p class="text-over-image">July 3rd, 2014</p>
                            <p class="text-over-image" id="busch-farm-title">12 Days on the Busch Family's Sugar Beet Farm</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence mama-bear-hide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field2">
                            <p class="text-over-image">July 4th, 2014</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence mama-bear-hide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field3">
                            <p class="text-over-image">July 5th, 2014</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence mama-bear-hide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field4">
                            <p class="text-over-image">July 6th, 2014</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field5">
                            <p class="text-over-image">July 7th, 2014</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence mama-bear-hide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field6">
                            <p class="text-over-image">July 8th, 2014</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence mama-bear-hide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field7">
                            <p class="text-over-image">July 9th, 2014</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence mama-bear-hide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field8">
                            <p class="text-over-image">July 10th, 2014</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence mama-bear-hide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field9">
                            <p class="text-over-image">July 11th, 2014</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence mama-bear-hide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field10">
                            <p class="text-over-image">July 12th, 2014</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence mama-bear-hide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field11">
                            <p class="text-over-image">July 13th, 2014</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-featured-behind tl-sequence">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="field12">
                            <p class="text-over-image">July 14th, 2014</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.after_tl_sequence.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="chart" id="ag-stats">
            <div class="container container-large">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6 econ-table">
                                <p class="table-title">Nebraska</p>
                                <table id="nebraska-econ">
                                    <tr>
                                        <td>Top Crop</td>
                                        <td class="amount">Acres</td>
                                        <td class="rank">US Rank by State</td>
                                    </tr>
                                    <tr>
                                        <td>Corn for grain</td>
                                        <td class="amount">9,087,851</td>
                                        <td class="rank">3</td>
                                    </tr>
                                    <tr>
                                        <td>Soybeans for beans</td>
                                        <td class="amount">4,983,253</td>
                                        <td class="rank">6</td>
                                    </tr>
                                    <tr>
                                        <td>Forage-land <span><i class="fa fa-info tip" data-toggle="tooltip" data-placement="right" title="Used for all hay and haylage, grass silage, and greenchop"></i></span></td>
                                        <td class="amount">2,487,312</td>
                                        <td class="rank">5</td>
                                    </tr>
                                    <tr>
                                        <td>Wheat for grain, all</td>
                                        <td class="amount">1,309,269</td>
                                        <td class="rank">10</td>
                                    </tr>
                                    <tr>
                                        <td>Winter wheat for grain</td>
                                        <td class="amount">1,302,674</td>
                                        <td class="rank">7</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 econ-table">
                                <p class="table-title">Scotts Bluff County</p>
                                <table id="scotts-bluff-econ">
                                    <tr>
                                        <td>Top Crop</td>
                                        <td class="amount">Acres</td>
                                        <td class="rank">State Rank by County</td>
                                        <td class="rank">US Rank by County</td>
                                    </tr>
                                    <tr>
                                        <td>Corn for grain</td>
                                        <td class="amount">87,975</td>
                                        <td class="rank">52</td>
                                        <td class="rank">355</td>
                                    </tr>
                                    <tr>
                                        <td>Forage-land <span><i class="fa fa-info tip" data-toggle="tooltip" data-placement="right" title="Used for all hay and haylage, grass silage, and greenchop"></i></span></td>
                                        <td class="amount">41,931</td>
                                        <td class="rank">12</td>
                                        <td class="rank">328</td>
                                    </tr>
                                    <tr>
                                        <td>Dry Edible Beans <span><i class="fa fa-info tip" data-toggle="tooltip" data-placement="right" title="Excludes lima beans"></i></span></td>
                                        <td class="amount">39,854</td>
                                        <td class="rank">1</td>
                                        <td class="rank">24</td>
                                    </tr>
                                    <tr>
                                        <td>Sugar beets</td>
                                        <td class="amount">12,116</td>
                                        <td class="rank">2</td>
                                        <td class="rank">31</td>
                                    </tr>
                                    <tr>
                                        <td>Wheat for grain, all</td>
                                        <td class="amount">10,017</td>
                                        <td class="rank">26</td>
                                        <td class="rank">680</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row credit">
                            <div class="col-sm-12">
                                <p>Data from the <a href="http://www.agcensus.usda.gov/">2012 USDA Census of Agriculture</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.before_preston_video.grafs")-->

                        <div class="inline-media-large inline-video" id="preston-video">
                            <div class="inline-media-wrapper">
                                <div class="video-wrapper-16-9 vid-wrap">
                                    <iframe id="preston" src="//player.vimeo.com/video/109027060?title=0&amp;byline=0&amp;portrait=0&amp;loop=0&amp;player_id=preston&amp;api=1" frameborder="0"></iframe>
                                </div>
                                <span class="image-caption image-caption-right">Rick Preston describes water reuse in the Nebraska panhandle.</span>
                            </div>
                        </div>

                        <p>Water from the North Platte irrigation system is used by several different irrigation districts throughout the area, cycled from field to field along ditches and canals. Local water managers and farmers estimate the same water is used <span class="inline-video-btn" id="play-preston"><i class="fa fa-play"></i> seven times</span><span class="mama-bear">seven times</span> before eventually making its way back to the North Platte River.</p>

                        <!--(bake partials/copy.html _foreach="grafs:field.after_preston_video.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="interactive" id="pop-interactive">
            <div class="container container-large">
                <div class="row">
                    <h2>Select Rural Counties West of the 100<sup>th</sup> Meridian</h2>
                    <h3><i class="fa fa-hand-o-up"></i> Population growth from 1900 - Today</h3>
                    <div class="col-md-8 col-sm-7">
                        <div id="pop-chart"></div>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <div class="interactive-desc baby-bear-hide">
                            <p>Many factors contribute to population growth and decline in the West, including energy development, urbanization and agriculture. Scotts Bluff County boomed following the construction of the North Platte Project in the early 1900s, which allowed for an agriculture industry reliant on surface water irrigation.</p>
                            <p>Hover over selected rural counties in <b>Colorado, Wyoming and Nebraska</b> to highlight population trends.</p>
                        </div>
                        <div id="pop-map" class="baby-bear-hide"></div>
                        <div class="county-name"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="interactive-note">Excludes counties with populations that exceed 50,000.</p>
                        <p class="interactive-note">Scotts Bluff County, Nebraska in <span class="red">red</span>.</p>
                    </div>
                    <div class="col-sm-6 credit">
                        <p>Data from the 2010 <a href="http://www.census.gov/">U.S. Census.</a></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.section_four.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="interactive three-images">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1">
                        <a href="../img/close-snow.jpg" class="gallery"><img src="../img/close-snow.jpg" alt="Lake Agnes during a wind and snow storm."></a>
                    </div>
                    <div class="col-xs-2">
                        <a href="../img/close-canyon.jpg" class="gallery"><img src="../img/close-canyon.jpg" alt="Fremont Canyon and Pathfinder Dam in golden light."></a>
                    </div>
                    <div class="col-xs-4">
                        <a href="../img/close-field.jpg" class="gallery"><img src="../img/close-field.jpg" alt="The Gering-Ft. Laramie Irrigation canal near Scotts Bluff National Monument."></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:field.section_five.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="footer" id="ftw-close">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-no-pad video-wrapper-16-9 vid-wrap">
                            <iframe id="snowflake" src="//player.vimeo.com/video/108289903?title=0&amp;byline=0&amp;portrait=0&amp;loop=0&amp;player_id=snowflake&amp;api=1" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-4">

                    <div class="credits">
                        <p class="credit">Design & Development: <span class="name">Steven Speicher</span></p>
                        <p class="credit">Reporter & Writer: <span class="name">Ariana Brocious</span></p>
                        <p class="credit">Video/Stills Editor: <span class="name">Peter Stegen</span></p>
                        <p class="credit">Videography: <span class="name">Peter Stegen & Steven Speicher</span></p>
                        <p class="credit">Photography: <span class="name">Michael Forsberg</span></p>
                        <p class="credit">Audio: <span class="name">Emily Kreutz</span></p>
                        <p class="credit">Production Assistants: <span class="name">Joe Arneson & Mariah Lundgren</span></p>
                        <p class="credit">Historical Research: <span class="name">Andrew DeCamp</span></p>
                        <p class="credit">Editorial Advisor: <span class="name">Matt Waite</span></p>
                        <p class="credit">Transcription: <span class="name">Pat Richmond & Jann Howard</span></p>
                        <p class="credit">Executive Producers: <span class="name">Michael Farrell & Michael Forsberg</span></p>
                    </div>

                    </div>
                    <div class="col-sm-offset-2 col-sm-4">
                        <div>
                            <p>Return to</p>
                        </div>
                        <div class="logo">
                            <a href="http://www.plattebasintimelapse.com"><img width="200" src="../img/PBTlogo-trans.png" alt="PBT-logo"></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>

        <!--(bake partials/footer.html)-->
        
        <!-- PAGE SPECIFIC SCRIPTS -->
        <script>
            $('.tip').tooltip();
            $('a.gallery').colorbox({
                rel: 'gallery',
                width: '60%;'
            });

            if ( $(window).width() > 1200 ){
                $('img.zoom')
                    .wrap('<span style="display:inline-block"></span>')
                    .css('display', 'block')
                    .parent()
                    .zoom({
                        magnify: '1',
                        touch: 'true'
                    });
            }

            var $iframe = $('#snowflake')[0];
            var player = $f($iframe);

            player.addEvent('ready', ready);

            function ready(player_id) {
            }

            $('#ftw-close').waypoint(function(direction) {

                if (direction == "up") {
                    player.api("unload")
                } else if (direction == "down") {
                    player.api("play");
                }

            }, {offset: 300});

        </script>
    </body>
</html>