<!--(bake partials/header.html title="Guiding Each Precious Drop" id="part-two")-->

        <!--(bake partials/nav.html)-->

        <header class="image-featured-behind">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-full image-featured-title" id="pathfinder-opening"></div>
                </div>
            </div>

            <div class="opening-title-left" data-start="opacity:1;" data-600-start="opacity:0;">
                <!--(bake partials/section_title.html _section="storage")-->
            </div>
            <div class="opening-scroll" data-start="opacity:1; bottom:1%;" data-100-start="opacity:0; bottom: -10%;">
                <p>scroll</p>
                <i class="fa fa-chevron-down"></i>
            </div>
        </header>

        <section class="copy first">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:storage.intro.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured-behind">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-full" id="historical-dam"></div>
                </div>
                <span class="image-caption image-caption-right">Situated just below the Sweetwater and the North Platte rivers' confluence, Pathfinder Dam's 214ft of grantite was quarried and constructed on-site from 1905-1909.</span>
            </div>
        </section>

        <section class="interactive" id="pathfinder-historicals">
            <div class=" container container-large">
                <div class="row images">
                    <div class="col-sm-2">
                        <p><img class="zoom-in-icon" src="../media/zoom.png" />At it's time, Pathfinder Dam was a tremendous undertaking. Four people died during its construction.</p><p>The top spans the girth of Fremont Canyon, offering dramatic views down steep sides to the river below.</p>
                    </div>
                    <div class="col-sm-5">
                        <img class="zoom" src="../media/pathfinder-1.jpg" alt="">
                    </div>
                    <div class="col-sm-5">
                        <img class="zoom" src="../media/pathfinder-almost.jpg" alt="">
                    </div>
                </div>
                <div class="row images">
                    <div class="col-sm-5">
                        <img class="zoom" src="../media/pathfinder-base.jpg" alt="">
                    </div>
                    <div class="col-sm-5">
                        <img class="zoom" src="../media/pathfinder-2.jpg" alt="">
                    </div>
                    <div class="col-sm-2">
                        <p><img class="zoom-in-icon" src="../media/zoom.png" />Granite quarried from local hills was hewn into huge blocks to create the arch-style structure, 97 feet thick at the base narrowing to a mere 11 feet at the top.</p><p>The top spans the girth of Fremont Canyon, offering dramatic views down steep sides to the river below.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:storage.before_map.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="interactive" id="np-dams-map">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-1">
                        <h2>The Dams of the North Platte River</h2>
                        <div id="dam-info-panel">
                            <p class="default-text"><em><i class="fa fa-hand-o-up"></i> Click markers on the map to learn about the dams in the North Platte River basin.</em></p>
                        </div>
                    </div>
                    <div class="col-sm-7"><div id="dam-map"></div></div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:storage.before_rec_dams_video.grafs")-->

                        <div class="inline-media-large inline-video" id="lyle-video">
                            <div class="inline-media-wrapper">
                                <div class="video-wrapper-16-9 vid-wrap">
                                    <iframe id="lyle" src="//player.vimeo.com/video/107067451?title=0&amp;byline=0&amp;portrait=0&amp;loop=0&amp;player_id=lyle&amp;api=1" frameborder="0"></iframe>
                                </div>
                                <span class="image-caption image-caption-right">Lyle Myler talks about dams and stuff</span>
                            </div>
                        </div>

                        <p><span class="inline-video-btn" id="play-lyle"><i class="fa fa-play"></i> Lyle Myler</span><span class="mama-bear">Lyle Myler</span> is the deputy area manager for the office, which operates east of the Continental Divide. Each year, Myler’s office depends upon the snowpack data gathered by the Natural Conservation Resource Service and Wyoming State Engineer’s Office to make judgments based on how much water will be coming down from the mountains.</p>

                        <!--(bake partials/copy.html _foreach="grafs:storage.after_rec_dams_video.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured">
            <div class="container-fluid">
                <div class="row">
                    <img src="../media/control-room.jpg" alt="">
                    <span class="image-caption image-caption-right">In the small control room in Mills WY, operators run the dams across three major regions.</span>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:storage.section_five.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>As third generation Nebraska farmer Bob Busch puts it,</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured-behind footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="part-two-end">
                        <div id="bob-water-kicker">
                            <p class="text-over-image">“without water, we have nothing.”</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <p class="next-page"><a href="../field">Part Three: Lifeblood of the Cultivated Land</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!--(bake partials/footer.html)-->

        <!-- PAGE SPECIFIC SCRIPTS -->
        <script>
        $('img.zoom')
            .wrap('<span style="display:inline-block"></span>')
            .css('display', 'block')
            .parent()
            .zoom({
                on: 'click',
                magnify: '1'
            });
        </script>

    </body>
</html>