<!--(bake partials/header.html title="Storage" id="part-two")-->

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-200-start="margin-top:-60px;" data-800-start="margin-top:0px;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h4 href="#">North Platte Irrigation</h4>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="../">intro</a></li>
                        <li><a href="../snow">1</a></li>
                        <li class="active"><a href="../storage">2</a></li>
                        <li><a href="../field">3</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid" id="pager-progress">
                <div id="pager" data-0="width:0%" data-end="width:100%;">
                </div>
            </div>
        </nav>

        <header class="image-featured-behind">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-full image-featured-title" id="pathfinder-opening"></div>
                </div>
            </div>

            <div class="opening-title-left" data-start="opacity:1;" data-600-start="opacity:0;">
                <!--(bake partials/section_title.html _section="storage")-->
            </div>
            <div class="opening-scroll" data-start="opacity:1; bottom:1%;" data-100-start="opacity:0; bottom: -10%;">
                <p>scroll</p>
                <i class="fa fa-chevron-down"></i>
            </div>
        </header>

        <section class="copy first">
            <div class="container container-small">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:storage.intro.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured">
            <div class="container-fluid">
                <div class="row">
                    <img src="../media/early-pathfinder.jpg" alt="">
                    <span class="image-caption image-caption-right">In 1904, construction began on Pathfinder Dam. It took 5 years to build.</span>
                </div>
            </div>
        </section>

        <section class="interactive" id="pathfinder-historicals">
            <div class=" container container-large">
                <div class="row images">
                    <div class="col-sm-2">
                        <p><img class="zoom-in-icon" src="../media/zoom.png" />Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores totam quibusdam consectetur expedita adipisci architecto recusandae eum similique veritatis incidunt placeat, nisi, esse distinctio temporibus possimus vel praesentium quis.</p>
                    </div>
                    <div class="col-sm-5">
                        <img class="zoom" src="../media/pathfinder-1.jpg" alt="">
                    </div>
                    <div class="col-sm-5">
                        <img class="zoom" src="../media/pathfinder-almost.jpg" alt="">
                    </div>
                </div>
                <div class="row images">
                    
                    <div class="col-sm-5">
                        <img class="zoom" src="../media/pathfinder-base.jpg" alt="">
                    </div>
                    <div class="col-sm-5">
                        <img class="zoom" src="../media/pathfinder-2.jpg" alt="">
                    </div>
                    <div class="col-sm-2">
                        <p><img class="zoom-in-icon" src="../media/zoom.png" />Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores totam quibusdam consectetur expedita adipisci architecto recusandae eum similique.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:storage.before_map.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="interactive" id="np-dams-map">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-1">
                        <h2>The Dams of the North Platte River <i class="fa fa-hand-o-up"></i></h2>
                        <div id="dam-info-panel">
                            <p class="default-text"><em>Click markers on the map to learn about the dams in the North Platte River basin.</em></p>
                        </div>
                    </div>
                    <div class="col-sm-7"><div id="dam-map"></div></div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:storage.before_rec_dams_video.grafs")-->

                        <div class="inline-media-large inline-video" id="lyle-video">
                            <div class="inline-media-wrapper">
                                <div class="video-wrapper-16-9 vid-wrap">
                                    <iframe id="lyle" src="//player.vimeo.com/video/107067451?title=0&amp;byline=0&amp;portrait=0&amp;loop=0&amp;player_id=lyle&amp;api=1" frameborder="0"></iframe>
                                </div>
                                <span class="image-caption image-caption-right">Lyle Myler talks about dams and stuff</span>
                            </div>
                        </div>

                        <p><span class="inline-video-btn" id="play-lyle"><i class="fa fa-play"></i> Lyle Myler</span><span class="mama-bear">Lyle Myler</span> is the deputy area manager for the office, which operates east of the Continental Divide. Each year, Myler’s office depends upon the snowpack data gathered by the Natural Conservation Resource Service and Wyoming State Engineer’s Office to make judgments based on how much water will be coming down from the mountains.</p>

                        <!--(bake partials/copy.html _foreach="grafs:storage.after_rec_dams_video.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12-sm">
                        <img src="../media/samples/image-featured.jpg" alt="">
                        <span class="image-caption image-caption-left">This is a feature image caption left.</span>
                    </div>
                </div>
            </div>
        </section>


        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!--(bake partials/copy.html _foreach="grafs:storage.section_five.grafs")-->
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured-behind footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="image-featured-behind"></div>
                </div>
            </div>
        </section>

        <section class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>As third generation Nebraska farmer Bob Busch puts it,</p>
                        <p class="blockquote">“without water, we have nothing.”</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="image-featured-behind footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 image-featured-behind-gap image-featured-behind-large" id="image-featured-behind"></div>
                </div>
            </div>
        </section>


        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                        <p class="credits">credits</p>
                        <!--(bake partials/credits.html _foreach="credits:credits")-->
                    </div>
                    <div class="col-sm-4">
                        <p class="next-page"><a href="../field">Part Three</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!--(bake partials/footer.html)-->

    </body>
</html>